.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #fff;
    z-index: 1000;
}

.contenuto {
    position: relative;
    left: 200px;
    top: 30px;
}