.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30%;
    /* background: #fff; */
    z-index: 1000;
    font-size: 0.5rem;
}

image {
    max-width: 100%;
}

.contenuto {
    position: relative;
    left: 250px;
    top: 30px;
    width: 60%;
}

h2 {
    margin-left: 30px;
}

body {
    background-color: #111;
    color: white;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.color-green {
    color: green;
}

.destro a {
    all: unset;
}

.destro a:hover {
    all: unset;
}

.destro a::before {
    all: unset;
}