.prodotto-link {
    font-size: 1em;
    color: black;
    background: none;
    -webkit-text-stroke: 0;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: underline;
}

.prodotto-link:hover {
    color: #c00;
    background: none;
    text-decoration: underline;
}